#issue {
    background-color: #ffffdd;
    border-color: #dddd99;

    h1.page-header {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 25px;
        border-color: #dddd99;
    }

    .issue-properties {
        .issue-property {
            display: inline-block;
            width: 216px;
            margin-right: 6px;
            margin-bottom: 4px;
            border-bottom: 1px solid #dddd99;

            &:last-child, &:nth-child(5n) {
                margin-right: 0;
            }
        }

        .property-value {
            float: right;
        }
    }

    .issue-description {
        margin-top: 5px;

        p:last-child {
            margin-bottom: 0;
        }
    }
}
