// Projects CSS

#project-list {
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    margin-bottom: 15px;
    max-width: 49%;
    vertical-align: top;
    width: 49%;

    &:first-child {
      margin-right: 15px;
    }

    h2 {
      border-bottom: 1px solid #eee;
      padding-bottom: 9px;
    }

    nav {
      margin-bottom: 4px;

      .nav > li > a {
        padding: 5px 15px;
      }
    }
  }
}

.project-codename {
  &:before,
  &:after {
    content: '"';
  }
}
