/* Timeline CSS */

#timeline.container {
    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    dl {
        dt {
            font-weight: normal;
        }

        dd {
            margin-left: 25px;
            margin-bottom: 5px;
        }
    }
}

#timeline-filters {
    width: 180px;
    margin-top: 15px;

    fieldset {
        padding: 5px 10px 10px 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;

        legend {
            border: 0;
            margin-bottom: 0;
        }

        .actions {
            margin-top: 5px;
        }
    }
}
